<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search for Vaccines</title>
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">

</head>
<body>
        <div id="map" style="width:100%; height:300px;"></div>


  <h3>VaccineRateMapper</h3>
  {% include 'searchbox.html' %}
  <p>I hope this works.

  <p>Data comes from <a href="https://collegescorecard.ed.gov/downloads/Most-Recent-Cohorts-Scorecard-Elements.csv">the College Scorecard. WARNING = Clicking the link will cause a rather large file to download.</a></p>
</body>
</html>

