
  <form action="{{url_for('results')}}" method="get">

        <strong>Sort by:</strong>
        <input type="radio" name="sortby" value="Highest_PBE_Rates">High Personal Exemption Rate
        <input type="radio" name="sortby" value="Lowest_PBE_Rates">Low Personal Exemption Rate

        <br>
        <input type="radio" name="sortby" value="Highest_Enrollment">Largest Kindergarten Enrollment
        <input type="radio" name="sortby" value="Lowest_Enrollment">Lowest Kindergarten Enrollment

        <br>

        <strong>City:</strong> <input type="text" name="city" value="">

        <br>
        <input type="submit" value="Submit">
  </form>